<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>

<#@ assembly name="System.Core" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Xml.Linq" #>
<#@ import namespace="System.Xml.XPath" #>
<#        
    XDocument doc = XDocument.Load(Directory.GetFiles(Path.GetDirectoryName(this.Host.TemplateFile), "*.csproj")[0]);
    string versionString = doc.XPathSelectElement("/Project/PropertyGroup/Version")?.Value;
#>

namespace HungarianNotation.PseudoDrop;

public partial class Plugin {
    public const string PluginVersion = "<#= versionString #>"; 
}